<div class="admin-container">
  <header>
    <nav class="nav">
      <a href="/home">Inicio</a>
      <a href="/perfil">Perfil</a>
      <a href="/api/sessions/logout">Cerrar sesión</a>
    </nav>
  </header>

  <main>
    <h1 class="admin-title">Panel de Administración de Usuarios</h1>

    <table class="admin-table">
      <h2 class="admin-subtitle">Gestión individual de usuarios</h2>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>ID</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.first_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.role}}</td>
          <td>{{this._id}}</td>
          <td>
            <button class="modify-button" onclick="modifyRole('{{this._id}}')">Modificar Rol</button>
            <button class="delete-button" onclick="deleteUser('{{this._id}}')">Eliminar</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <h3 class="admin-subtitle">Eliminar masivamente usuarios inactivos por más de 2 días</h3>
    <button class="delete-button" onclick="deleteInactiveUsers()">Eliminar Usuarios</button>
  </main>

  <script>

    function modifyRole(userId) {
      fetch(`api/users/premium/${userId}`, { method: 'POST' })
        .then(response => {
          if (!response.ok) {
            // Log and throw an error if the response status is not OK
            console.error('Server responded with non-OK status:', response.status);
            return response.text().then(text => { throw new Error(text) });
          }
          return response.json();
        })
        .then(data => {
          alert(data.message);
          window.location.reload();
        })
        .catch(error => {
          console.error('Error during fetch operation:', error);
          alert('An error occurred: ' + error.message);
        });
    }

    // Función para eliminar un usuario
    function deleteUser(userId) {
      if (confirm('¿Estás seguro de que quieres eliminar este usuario?')) {
        fetch(`/api/users/${userId}`, { method: 'DELETE' })
          .then(response => {
            console.log('Response status:', response.status);
            console.log('Response status text:', response.statusText);

            if (!response.ok) {
              // Si el estado de la respuesta no es OK, lanzamos un error
              return response.text().then(text => { throw new Error(text) });
            }

            return response.json();
          })
          .then(data => {
            console.log('Response data:', data);
            alert(data.message);
            window.location.reload();
          })
          .catch(error => {
            console.error('Error during fetch operation:', error);
            alert('An error occurred: ' + error.message);
          });
      }
    }

    // Función para eliminar usuarios inactivos
    function deleteInactiveUsers() {
      if (confirm('¿Estás seguro de que quieres eliminar todos los usuarios inactivos?')) {
        fetch('/api/users/inactive', { method: 'DELETE' })
          .then(response => response.json())
          .then(data => {
            alert(data.message);
            window.location.reload();
          })
          .catch(error => console.error('Error:', error));
      }
    };

  </script>








