<div class="home-container">
  <header>
    <nav>
      <a href="/perfil">Perfil</a>
      <a href="/chat">Sala de chat</a>
      {{#if isAdmin}}
      <a href="/admin-users">Administración de usuarios</a>
      {{/if}}
      <a href="/api/sessions/logout">Cerrar sesión</a>
      <style>
        #cart-link {
          display: none;
        }
      </style>
      <a href="/cart/{{cartId}}" id="cart-link">Ver mi carrito</a>
    </nav>
  </header>

  <p class="home-welcome">{{user.first_name}}, usted tiene privilegios tipo:
    {{user.role}}</p>

  <input type="hidden" id="currentCartId" value="{{cartId}}" />
  <p class="error-message">{{error}}</p>
  <a id="cartUrl" style="display: none;">Ver mi carrito</a>


  {{#if payload}}
  <h1>Listado de Productos</h1>
  {{#if isAdmin}}
  <ul class="product-list admin-product-list">
  {{else}}
  <ul class="product-list">
  {{/if}}
    {{#each payload}}
    <li class="product-item">
      Nombre: {{this.title}}
      Precio: ${{this.price}}
      <button class="add-to-cart-btn" data-product-id="{{this._id}}">Agregar al carrito</button>
    </li>
    {{/each}}
  </ul>
  <div class="pagination">
    {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
    {{/if}}

    {{page}}

    {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>
  {{else}}
  <h2>No hay productos</h2>
  {{/if}}

  <script type="module" src="/js/home.js"></script>
  <script src="/js/updateCartLink.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cartLink = document.getElementById('cart-link');
      const cartId = localStorage.getItem('cartId');

      if (cartLink) {
        if (cartId) {
          cartLink.style.display = 'inline';
          cartLink.setAttribute('href', `/cart/${cartId}`);
        } else {
          cartLink.style.display = 'none';
        }
      }
    });
  </script>
</div>

<style>
  .admin-product-list .add-to-cart-btn {
    display: none;
  }
</style>