<h1>Lista de productos (estática):</h1>

{{!-- {{#each products}} de Handlebars recorre cada producto en la lista de productos y genera un elemento de lista para cada uno. --}}
<ul id="productList">
  {{#each products}}
    <li>
      {{!-- Para cada producto, se muestran sus propiedades.
      Los datos se insertan de manera dinámica en la plantilla usando las directivas de Handlebars ({{}}). --}}
      <h2>Producto:{{title}}</h2>
      <p>ID: {{id}}</p>
      <p>Descripción:{{description}}</p>
      <p>Precio: {{price}}</p>
      <p>Miniatura:</p><img src="{{thumbnail}}" alt="Imagen producto" />
      <p>Código: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <p>Estado: {{status}}</p>
      <p>Categoría: {{category}}</p>
    </li>
  {{/each}}
</ul>