<h1>Lista de productos (estática):</h1>
<ul id="productList">
  {{#each products}}
    <li>
      <h2>Producto:{{title}}</h2>
      <p>ID: {{id}}</p>
      <p>Descripción:{{description}}</p>
      <p>Precio: {{price}}</p>
      <p>Miniatura:</p><img src="{{thumbnail}}" alt="Imagen producto" />
      <p>Código: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <p>Estado: {{status}}</p>
      <p>Categoría: {{category}}</p>
    </li>
  {{/each}}
</ul>

<script src="/js/home.js"></script>