<header>
  <nav>
    <a href="/perfil">Perfil</a>
    <a href="/chat">Sala de chat</a>
    <a href="/carts">Carrito</a>
    <a href="/api/sessions/logout">Cerrar sesion</a>
    {{#if isAdmin}}
      <a href="/admin-users">Administración de usuarios</a>
    {{/if}}
  </nav>
</header>

<p>¡Bienvenido {{user.role}} {{user.first_name}}!</p>

<input type="hidden" id="currentCartId" value="{{cartId}}" />
<p style="color:red"><strong>{{error}}</strong></p>
<a id="cartUrl" style="display: none;">Ver mi carrito</a>

{{#if payload}}
  <h1>Listado de Productos</h1>
  <ul>
    {{#each payload}}
      <li>Nombre: {{this.title}}</li>
      </li>Precio: {{this.price}}</li>
      <br>
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
      <br>
      <br>
    {{/each}}
  </ul>

  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  {{page}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
{{else}}
  <h2>No hay productos</h2>
{{/if}}

<script src="/js/home.js"></script>